<h1>Gestión de Alumnos</h1>

<p-table [value]="listaAlumnos" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Curso</th>
      <th style="text-align: center">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-alumno>
    <tr>
      <td>{{alumno.id}}</td>
      <td>{{alumno.nombre}}</td>
      <td>{{alumno.apellido}}</td>
      <td>{{alumno.curso}}</td>
      <td style="text-align: center">
          <button *ngIf="!isNuevoAlumno" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-outlined" (click)="editarAlumno(alumno)"></button>
          <button *ngIf="!isNuevoAlumno" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined" (click)="eliminarAlumno(alumno.id)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr *ngIf="isNuevoAlumno">
      <td>{{nuevoAlumno.id}}</td>
      <td><input type="text" pInputText [(ngModel)]="nuevoAlumno.nombre"></td>
      <td><input type="text" pInputText [(ngModel)]="nuevoAlumno.apellido"></td>
      <td><input type="text" pInputText [(ngModel)]="nuevoAlumno.curso"></td>
      <td style="text-align: center">
          <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-success p-button-outlined" (click)="guardarAlumno()"></button>
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="limpiarNuevo()"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="!isNuevoAlumno" class="botonera">
  <button pButton pRipple type="button" icon="pi pi-plus" label="Añadir alumno" class="p-button-secondary p-button-text" (click)="isNuevoAlumno = true"></button>
  <button pButton pRipple type="button" icon="pi pi-refresh" label="Recargar Datos" class="p-button-secondary p-button-text" (click)="recargarDatos()"></button>
</div>

<p-dialog header="Confirmación" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <p class="m-0">¿Está seguro de que quiere eliminar el alumno de la lista?</p>
    <ng-template pTemplate="footer">
      <p-button (click)="cancelarEliminar()" label="Cancelar" styleClass="p-button-text p-button-info"></p-button>
      <p-button (click)="confirmarEliminar()" label="Sí" styleClass="p-button-text p-button-danger"></p-button>
    </ng-template>
</p-dialog>
